<configuration>
  <appSettings>
    <add key="appId" value="Facebook app ID"/>
    <app key="url" value="Domain where app is hosted for example foo.azurewebsites.net" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
