<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Post Browser</title>
    <script src="/components/moment/min/moment.min.js"></script>
    <meta name="description" content="Facebook Post Browser enables you to browse and bulk download Facebook posts for offline access. It currently supports posts created on Facebook Pages and Groups, and allows you to specify a date range of posts to load." />
    <meta name="keywords" content="facebook, facebook posts, facebook groups, facebook pages, 
    facebook export, facebook download, facebook save, facebook research, facebook browse, facebook post export, facebook post save, facebook post download" /> 
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/tracekit/tracekit.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Facebook Post Browser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://feedback.userreport.com/70c370b6-b5ff-4f84-acba-843ab7f16160/#ideas/popular">Feedback</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

  </div>

  <!-- UserReport stuff -->
  <script type="text/javascript"> 
  var _urq = _urq || []; 
  _urq.push(['setGACode', 'UA-18942851-3']); 
  _urq.push(['initSite', '70c370b6-b5ff-4f84-acba-843ab7f16160']); 

  (function() { 
  var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true; 
  ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js'); 
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s); 
  })(); 
  </script>
  <!-- Google Analytics stuff -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18942851-3', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
